<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Added bootstrap stylesheet for pretty dropdown menu-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Friend Space</title>

  </head>
  <body onload="trigger()">
    <nav class="light-blue lighten-2">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Friend Space</a>
      </div>
    </nav>

    <div id="content">
    <div class="container">
    <h4 style=" text-transform: capitalize; max-width: 75%; margin-left: auto; margin-right: auto">Welcome, {{ current_user.username }}!</h4>

         <div class="card" style="max-width: 75%; margin-left: auto; margin-right: auto" >
          <div class="card-content">
            <form name="addForm" action = "/myfriendspace" method="post">
              <div class="input-field">
                <input type="text" name="posttext" id="postcontent" placeholder="Say some...">

              </div>
              <input class="btn deep-purple lighten-3  white-text" type="submit" id="submit" value="Add Post" />
            </form>
          </div>
        </div>
    <div style="overflow-y: scroll; max-height: 50vh">

        {% if posts %}

{% for p in posts %}
<div class="card" style=" max-width: 75%; margin-left: auto; margin-right: auto">
<div class="card-content blue-text" style="margin-left: 10px">

    Posted by: {{ p.username }}
    <br>
    <span class="card-title activator grey-text text-darken-4">{{ p.text }}</span>

    Likes: {{ p.likes }} Dislikes: {{ p.dislikes }}
    <br>

 <a class="btn  light-blue accent-3 white-text" href="/myfriendspace/like/{{ p.id }}">Like</a>
 <a class="btn  light-blue accent-1 white-text" href="/myfriendspace/dislike/{{ p.id }}">Dislike</a>
    {% if p.userId == current_user.id %}
<a class="btn light-blue accent-2 white-text right" href="/myfriendspace/delete/{{ p.id }}">Delete</a>
    {% endif %}
    </form>
</div>
    </div>
{% endfor %}
            </div>
</div>

{% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <span id="message" style="color:white" >{{ message }}</span>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script>  function trigger() {
       t = document.getElementById("message");
       M.toast({html: t})
   }

   </script>
  </body>
</html>