<!doctype html>
<!-- 816001671 Web Programming and Technologies 1 Final May 2020 -->
<html>
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Added bootstrap stylesheet for pretty dropdown menu-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>

  </head>
  <body onload="trigger()">
    <nav class="light-blue lighten-2">
        <!--https://materializecss.com/color.html used for classes to add styles using the given materialize stylesheet-->
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Login</a>
      </div>
    </nav>

    <div id="content">
    <div class="card" style="max-width: 50%; padding: 50px; margin-top: 100px; margin-left: auto; margin-right: auto">
          <div class="card-content">
            <form name="addForm" action = "/auth" method="post">
              <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Password">

              </div>
              <input class="btn blue white-text" type="submit" id="submit" value="Login" style="display: flex" />
            </form>
          </div>
        </div>

     <!--Code used from https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ for loading flash messages-->
          {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <span id="message" style="color:white" >{{ message }}</span>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>  function trigger() {
       t = document.getElementById("message");
       M.toast({html: t}) //Code used from https://materializecss.com/toasts.html
   }

   </script>
  </body>
</html>

